<div class="row marketing">
  <div class="six columns">
    <h2><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h2>
  </div>

  <div class="six columns">
    <div id="root"></div>
  </div>
</div>
